@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
.container{
    background: #ebebeb;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.box{
    background: #696969;
}
.box > h1 {
    font-weight: 800;
    font-size: 30px;
}